body {
	min-width: 320px;
	max-width: 768px;
	margin: 0;
	font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
	font-size: 14px;
  line-height: 24px;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}