div(id="slider")
//- .slider 
//-   .slider__wrapper
//-     .slider__inner
//-       .slider__scale
//-         div(class="slider__bar slider__bar--one")
//-       div(class="slider__toggle slider__toggle--max")
//-       div(class="slider__flags")
//-         span(class="slider__flag slider__flag--max") 100

//- .slider 
//-   .slider__wrapper
//-     .slider__inner
//-       .slider__scale
//-         div(class="slider__bar slider__bar--range")
//-       div(class="slider__toggle slider__toggle--min")
//-       div(class="slider__toggle slider__toggle--max")
//-       div(class="slider__flags")
//-         span(class="slider__flag slider__flag--min") 0
//-         span(class="slider__flag slider__flag--max") 100

//- .slider 
//-   .slider__wrapper
//-     div(class="slider__inner slider__inner--height")
//-       div(class="slider__scale slider__scale--vertical")
//-         div(class="slider__bar slider__bar--vertical-one")
//-       div(class="slider__toggle slider__toggle--vertical-max")
//-       div(class="slider__flags")
//-         span(class="slider__flag-vertical slider__flag-vertical--max") 100

//- .slider 
//-   .slider__wrapper
//-     div(class="slider__inner slider__inner--height")
//-       div(class="slider__scale slider__scale--vertical")
//-         div(class="slider__bar slider__bar--vertical-range")
//-       div(class="slider__toggle slider__toggle--vertical-min")
//-       div(class="slider__toggle slider__toggle--vertical-max")
//-       div(class="slider__flags")
//-         span(class="slider__flag-vertical slider__flag-vertical--min") 0
//-         span(class="slider__flag-vertical slider__flag-vertical--max") 100