.slider {
  max-width: 768px;
  margin: 0 auto;
}

.slider.ui-widget.ui-widget-content {
  height: 5px;
  background-color: #e5e5e5;
  border: none;
}

.slider .ui-widget-header {
  background-color: #4eb7a8;
}

.slider .ui-state-default {
  top: -8px;
  width: 21px;
  height: 21px;
  background-color: #4eb7a8;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}