.slider {
  max-width: 768px;
  margin: 70px auto;
  cursor: pointer;
}

.slider.ui-widget.ui-widget-content {
  height: 5px;
  background-color: #e5e5e5;
  border: none;
}

.slider .ui-widget-header {
  background-color: #4eb7a8;
}

.slider .ui-state-default {
  top: -8px;
  width: 21px;
  height: 21px;
  background-color: #4eb7a8;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "75";
    top: -25px;
    left: 50%;
    width: auto;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #4eb7a8;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: -15px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #4eb7a8;
  }
}

.slider__list {
  margin: 0;
  padding: 0;
  height: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.slider__item {
  width: 0;
  color: #4eb7a8;
  cursor: pointer;

  &--number {
    display: flex;
    justify-content: center;
  }
}

.slider__label {
  display: block;
}