.slider__slider {
  position: relative;
  height: 60px;
}

.slider__value {
  position: absolute;
  top: -8px;
  left: 75%;
  width: 21px;
  height: 21px;
  margin-left: -10px;
  background-color: transparent;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "75";
    top: -25px;
    left: 50%;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #4eb7a8;
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }

  &::after {
    position: absolute;
    content: "";
    top: -15px;
    left: 5px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background-color: #4eb7a8;
  }
}

.slider__scale {
  height: 5px;
  background-color: #e5e5e5;
  border-radius: 3px;
}

.slider__bar {
  height: 5px;
  margin-top: -1px;
  margin-right: 25%;
  background-color: #4eb7a8;
  border-radius: 3px;
}

.slider__toggle {
  position: absolute;
  top: -8px;
  left: 75%;
  width: 21px;
  height: 21px;
  margin-left: -10px;
  background-color: #4eb7a8;
  border-radius: 50%;
  cursor: pointer;
}

.slider__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.slider__item {
  width: 0;
  color: #4eb7a8;
  cursor: pointer;

  &--number {
    display: flex;
    justify-content: center;
  }
}

.slider__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.slider__label {
  display: block;
}